.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pacifico;
}

hr {
  max-width: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.grid {
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  gap: 10px;
}

img {
  position: center;
}

.item:hover {
  transform: scale(1.1);
}

.item {
  width: 100px;
  height: 500px;
  overflow: hidden;
  background-color: bisque;
  background-size: 10% 10%;
}
